.header {
  position: relative; /* 기준점 설정 */
  background-color: #6b8f71;
  color: #fff;
  padding: 1em 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}
.purchase-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.purchase-table th,
.purchase-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.purchase-table th {
  background-color: #7e9c7c; /* 올리브 그린 헤더 */
  color: white;
}

.purchase-table tr:nth-child(even) {
  background-color: #f4f7f5; /* 밝은 카키 */
}

.purchase-table img {
  border-radius: 8px;
}

.delete-btn {
  background: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.delete-btn:hover {
  background: #c9302c;
}

.clear-cart-btn {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #c9302c;
  transform: translateY(-2px);
}
